<br/><br/><br/><br/><br/><br/>

<div id="header">
  <%= image_tag 'message.png', :height => 61 %><br/>
  <%= form_tag show_message_url do %>
    <div><%= password_field_tag 'password' %></div>
  <% end %>
</div>

<%= focus_on :password %>